body {
    font-family:Verdana;
    font-size:12px;
}
h1 {
    font-size:14px;
    font-weight:bold;
}
canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
#source {
    position: absolute;
    bottom: 0;
    right: 0;
    padding:4px 10px 4px 10px;
}
.clearfix:before, .clearfix:after {
    content:'\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix {
    zoom: 1;
}
video, canvas {
    border: 1px solid #000;
}
